body {
    background-color: black;
}

h1 {
    color: greenyellow;
}

.fat-mac {
    width: 500px;
    height: auto;
}

ul {
    color: greenyellow;
}

a {
    color: greenyellow;
    font-size: 24px;
}